/dist
/node_modules
/tmp
/coverage
/lib
.vscode
.npmrc
/storybook-static
/stats
internal/docs/swagger.json 
internal/docs/swagger.yaml
internal/docs/docs.go
/old
/rocks_data
/uploads
external/database/proto/
gen/
*.pb.go
/static
/db_dev
/pages
/.vite-inspect
/.env
